<div class="row">
  <div class="col-md-12 mt-3 mb-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search"  
      [(ngModel)]="searchTerm" 
      (keydown.alt.s)="internetSearchStarted()"
      (ngModelChange)="searchOnChange(searchTerm)"  />
      <div class="col-md-12 mt-3 mb-3" [hidden]="!secondSearchStart">
        Ajax Search
        <input type="text" class="form-control" placeholder="search on internet">
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-5 mb-5">
    <app-product-list [productsInput]="products | ara:searchTerm" (productEvent)="setSelected($event)"></app-product-list>
  </div>
  <div class="col-md-4 mt-5 mb-5" *ngIf="selectedProduct">
    <app-product-detail [selectedProductInput]="selectedProduct" (closeEvent)="selectedProduct=!selectedProduct"></app-product-detail>
  </div>
</div>