<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" #route="routerLinkActive">Home {{route.isActive}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/routing','v4','ts',{details: true,sort: 'asc'}]" [queryParams]="{id:5, total :5000}" fragment="section5" routerLinkActive="active">Routing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/di" routerLinkActive="active">DI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/http-ws" routerLinkActive="active">HTTP-WS</a>
      </li>
    </ul> 
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

