<div class="row mt-5 mb-5">
  <div class="col-md-6">
    <h2>Email</h2>
    <app-text-editor [editorId]="'richEditor'" (editorContentEvent)="editorIcerikDegisim($event)"></app-text-editor>
  </div>
  <div class="col-md-6">
    <h2>Html</h2>
    <app-html-show [html]="htmlFromEditor"></app-html-show>
  </div>
</div>