<h3>Ürünler</h3>
<table class="table table-bordered small">
  <thead>
    <th>No</th>
    <th>Name</th>
    <th>Price</th>
    <th>Product Code</th>
    <th>Stock</th>
    <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let product of productsInput;index as i">
    <td>{{i}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.productCode}}</td>
    <td>{{product.stock}}</td>
    <td>
      <button class="btn btn-sm btn-outline-success" (click)="setSelected(product)">Seç</button>
      <button class="btn btn-sm btn-outline-warning">Sil</button>
    </td>
  </tr>
</tbody>
</table>

<ul>
  <li *ngFor="let d of degisiklikListesi">
    {{d|json}}
  </li>
</ul>