<div class="row">
  <div class="col-md-8">
    <button class="btn btn-success btn-sm" (click)="navigate()">AnaSayfa</button>
    <a class="btn btn-success btn-sm" routerLink="ajax" queryParamsHandling="merge" ParamsHandling="merge">Child Route</a>
    <h3>Routes / Params</h3>
    {{params | json}}
    <h5>Version :{{ver}}</h5>
    <h3>Routes / Query Params</h3>
    {{queryParams | json}} 
    <h3>SnapShot : {{snapShot | json}}</h3>
  </div>
  <div class="col-md-4">
      <h3>Child Route</h3>
      <router-outlet></router-outlet>
  </div>
</div>
